html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*My CSS */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #306bff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* Home styling*/
header {
    background-color: #0a1533;
    height: fit-content;
    text-align: center;
    padding: 0.3rem 1rem;
    margin-bottom: 0.5rem;
}

header h1 {
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 0.8rem
}

header h1 a {
    color: #eee;
    transition: color 500 ease-in;
}

header h1 a:hover {
    cursor: pointer;
    border-radius: 1rem;
    color: #306bff;
}

header ul {
    display: block;
    padding: 0.8rem;
    margin-top: 0.5rem;
    text-align: center;

}

header ul li {
    display: inline;
    padding: 0.5rem 1rem;
}

header ul li a {
    color: #eee;
}


/* home Testimonial */
#testimonial {
    width: 80vw;
    height: fit-content;
    border-radius: 0.5rem;
    background-color: #0a1533;
    margin: 0 auto;
    text-align: center;
}
#testimonial .content {
    margin: 0.5rem 0;

}
#testimonial h3 {
    font-size: 2rem;
    font-weight: 2;
    color: #fff;
}

#testimonial p {
    color: #fff;
    font-weight: 2;
    line-height: 1.5rem;
    padding: 0.5rem;
}


/* Section 2*/
#languages {
    width: 80vw;
    overflow: hidden;
    padding: 0.8rem;
    margin: 0 auto;
}

#languages h3 {
    font-size: 2.5rem;
    color: #eee;
    margin-left: 0.8rem;
}

.language {
    width: 45%;
    height: 45%;
    height: fit-content;
    background-color: #eee;
    float: left;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    padding: 0.2rem;
}


.language .content {
    background-color: #0a1533;
    padding: 0.2rem;
    color: #fff;
}

.language .content .content-header {
    font-size: 1.5rem;
    font-weight: 400;
    padding: rem;
}

.language .content p {
    font-weight: 2;
    padding: 0.5rem;
}

/* Footer */
footer {
    clear: both;
    background-color: #0a1533;
    padding: 1.5rem;
}

footer #footer-content {
    width: 50%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0.8rem;
    text-align: center;
    border: 1px solid #306bff;
}

footer h3 {
    color: #eee;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

footer ul {
    padding-top: 0.5rem;
}

footer ul li {
    padding: 0.5rem 0;
}

footer li  a{
    color: #eee;
    display: block;
}

footer p {
    color: #eee;
    line-height: 1.5rem;
    padding-top: 0.5rem;
}

footer li a:hover {
    cursor: pointer;
    background-color: #eee;
    border-radius: 1rem;
    color: #306bff;
}

/* Projects page */

#projects-message {
    background-color: #eee;
    width: 80vw;
    padding: 2rem;
    text-align: center;
    margin: 0 auto;
    border-radius: 1.5rem;
}

#projects-message h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#projects-message p {
    color: #333;
    line-height: 1.5rem;
}

/*Screen MediaQuery */
@media Screen and (min-width: 480px) {
    body {
        background-color: #fff;
    }

    header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    header h1 {
        font-weight: 400;
        font-size: 1rem;
        text-transform: capitalize
    }

    header ul {
        display: block;
        margin-top: 0;
        text-align: center;
    
    }

    header ul li {
        font-weight: 200;
        transition: background 500 ease;
    }

    header ul li:hover{
        border-radius: 0.5rem;
        background: #306bff;
    }
    
    header ul li a {
        color: #eee;
    }

    #testimonial {
        width: 60vw;
        background-color: #eee;
        height: fit-content;
        margin: 0 auto;
        text-align: center;
    }

    #testimonial h3 {
        color: #111111;
        font-size: 4rem;
        font-weight: 400;
    }
    
    #testimonial p {
        color: #111;
        font-size: 1.5rem;
        font-weight: 4;
        line-height: 2.5rem;
    }
    /* Section 2*/
    #languages {
        width: 60vw;
        padding: 1rem;
        margin: 0 auto;
    }

    #languages h3 {
        font-size: 2.5rem;
        color: #333;
        margin-left: 0.8rem;
    }

    .language {
        width: 20%;
        background-color: #306bff;
        float: left;
        text-align: center;
        margin-top: 0.5rem;
        margin-left: 0.8rem;
        margin-bottom: 0.8rem;
        transition: border-radius 500 ease;
    }

    .language:hover {
        border-radius: 1rem;
    }

    .language .content {
        background-color: #eee;
        padding: 0.2rem;
        color: #333;
    }

    .language .content h3 {
        font-weight: 400;
        color: #111111
    }

    .language .content p {
        font-size: 0.8rem;
    }

    footer {
        clear: both;
        background-color: #0a1533;
        padding: 1.5rem;
    }
    
    footer #footer-content {
        width: 30%;
        overflow: hidden;
        margin: 0 auto;
        padding: 0.8rem;
        text-align: center;
        border: 1px solid #306bff;
    }
    
    footer h3 {
        color: #eee;
        font-size: 1.5rem;
        font-weight: 400;
        padding-bottom: 0.5rem;
    }
    
    footer ul {
        padding-top: 0.5rem;
    }
    
    footer ul li {
        padding-top: 0.5rem;
    }
    
    footer li  a{
        color: #eee;
        display: block;
    }
    
    footer p {
        color: #eee;
        line-height: 1.5rem;
        padding-top: 0.5rem;
    }
    
    footer li a:hover {
        color: #306bff;
    }
}